<section class="hero-basic">
    <div class="text-content-title">
        <h1 class="title">PICK YOUR PATH</h1>
        <p class="subtitle">Please hurry</p>
    </div>
</section>

<div class="card-container">
    <!-- Game Development path (functional) -->
    <div class="card">
        <h2>Game Development</h2>
        <p>Bring interactive worlds to life. Learn the essentials of designing, coding, and building games.</p>
        <a href="{% url 'view_path' %}" class="choose-button">Choose this path!</a>
      </div>
    
    <!-- Data Science path (static) -->
    <div class="card">
        <h2>Data Science</h2>
        <p>Harness data to uncover insights. Learn to analyze and interpret data for strategic decision-making.</p>
        <button class="choose-button" disabled>Choose this path!</button>
    </div>
    
    <!-- Cybersecurity path (static) -->
    <div class="card">
        <h2>Cybersecurity</h2>
        <p>Defend systems and networks from attacks. Learn to prevent breaches and safeguard digital assets.</p>
        <button class="choose-button" disabled>Choose this path!</button>
    </div>
    
    <!-- AI/ML path (static) -->
    <div class="card">
        <h2>AI/ML</h2>
        <p>Design intelligent systems that learn and adapt. Explore cutting-edge artificial intelligence and machine learning techniques.</p>
        <button class="choose-button" disabled>Choose this path!</button>
    </div>
</div>
