{% extends "base.html" %}

{% block content %}
    <div class="see-the-path" data-color-mode="SDS-light">
        <section class="hero-basic">
            <div class="text-content-title">
                <h1 class="title-2">GAME DEVELOPMENT</h1>
                <p class="subtitle">Would you like to make a game??</p>
            </div>
        </section>

        <div class="div-2">
            <div class="text-content-heading">
                <h2 class="text-wrapper-2">Welcome to Your Future!</h2>
                <h3 class="text-wrapper-3">Subheading</h3>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="image"></div>
                    <div class="body">
                        <h4 class="text-wrapper-2">Prep Video</h4>
                        <p class="p">
                            Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.
                        </p>
                        <div class="switch-field">
                            <div class="checkbox-and-label">
                                <label class="label">Completed?</label>
                                <img class="switch" src="{% static 'img/switch-3.svg' %}" alt="Completion Switch" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image-2"></div>
                    <div class="body">
                        <h4 class="text-wrapper-2">Resource</h4>
                        <p class="p">
                            Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.
                        </p>
                        <div class="switch-field">
                            <div class="checkbox-and-label">
                                <label class="label">Completed?</label>
                                <img class="switch" src="{% static 'img/switch-2.svg' %}" alt="Completion Switch" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="image-3"></div>
                    <div class="body">
                        <h4 class="text-wrapper-2">Project</h4>
                        <p class="p">
                            Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.
                        </p>
                        <div class="switch-field">
                            <div class="checkbox-and-label">
                                <label class="label">Completed?</label>
                                <img class="switch" src="{% static 'img/switch.svg' %}" alt="Completion Switch" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-2">
            <div class="text-content-heading">
                <h2 class="text-wrapper-2">Feelin' Adventurous?</h2>
                <h3 class="text-wrapper-3">Try something new~~</h3>
            </div>

            <div class="card-wrapper">
                <div class="card-2">
                    <div class="image-4"></div>
                    <div class="body">
                        <h4 class="text-wrapper-2">AI/ML</h4>
                        <p class="p">
                            Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.
                        </p>
                    </div>
                </div>
                
                <div class="card-3">
                    <div class="image-5"></div>
                    <div class="body">
                        <h4 class="text-wrapper-2">Cybersecurity</h4>
                        <p class="p">
                            Body text for whatever you'd like to say. Add main takeaway points, quotes, anecdotes, or even a very short story.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
