{% extends "base.html" %}
{% block title %}View Path{% endblock title %}

{% block content %}
<div class="see-the-path" data-color-mode="SDS-light">
    <section class="hero-basic">
        <h1 class="title-2">GAME DEVELOPMENT</h1>
        <p class="subtitle">Would you like to make a game?</p>
    </section>

    <!-- Cards Section -->
    <div class="cards">
        <div class="card">
            <h4>Prep Video</h4>
            <p>Add main takeaway points, quotes, or even a short story.</p>
        </div>
        <div class="card">
            <h4>Resource</h4>
            <p>Detailed content for your learning journey.</p>
        </div>
        <div class="card">
            <h4>Project</h4>
            <p>Practical assignments to solidify your learning.</p>
        </div>
    </div>
</div>
{% endblock content %}
