<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="pick-your-path">
      <header class="header">
        <img class="block" src="img/block.svg" />
        <div class="navigation-pill-list">
          <div class="navigation-pill"><div class="title">Paths</div></div>
          <div class="title-wrapper"><div class="text-wrapper">Progress</div></div>
          <div class="title-wrapper"><div class="text-wrapper">Explore</div></div>
          <div class="title-wrapper"><div class="div"></div></div>
          <div class="title-wrapper"><div class="div"></div></div>
          <div class="title-wrapper"><div class="div"></div></div>
        </div>
        <div class="header-auth">
          <button class="button"><button class="button-2">Sign in</button></button>
          <button class="button-wrapper"><button class="button-3">Register</button></button>
        </div>
      </header>
      <div class="hero-basic">
        <div class="text-content-title">
          <div class="title-2">PICK YOUR PATH</div>
          <div class="subtitle">pls hurry</div>
        </div>
      </div>
      <div class="card" data-color-mode="SDS-light">
        <div class="body">
          <div class="text">
            <div class="title-3">Data Science</div>
            <p class="body-text-for">
              Harness data to uncover insights. Learn to analyze and interpret data for strategic decision-making.
            </p>
          </div>
          <div class="button-group">
            <button class="div-wrapper"><button class="button-3">Choose this path!</button></button>
          </div>
        </div>
      </div>
      <div class="body-wrapper" data-color-mode="SDS-light">
        <div class="body">
          <div class="text">
            <div class="title-3">Cybersecurity</div>
            <p class="body-text-for">
              Defend systems and networks from attacks. Learn to prevent breaches and safeguard digital assets.&#34;
            </p>
          </div>
          <div class="button-group">
            <button class="div-wrapper"><button class="button-3">Choose this path!</button></button>
          </div>
        </div>
      </div>
      <div class="card-2" data-color-mode="SDS-light">
        <div class="body-2">
          <div class="text">
            <div class="title-3">AI/ML</div>
            <p class="body-text-for">
              Design intelligent systems that learn and adapt. Explore cutting-edge artificial intelligence and machine
              learning techniques.
            </p>
          </div>
          <div class="button-group">
            <button class="div-wrapper"><button class="button-3">Choose this path!</button></button>
          </div>
        </div>
      </div>
      <div class="card-3" data-color-mode="SDS-light">
        <div class="body">
          <div class="text">
            <div class="title-3">Game Development</div>
            <p class="body-text-for">
              Bring interactive worlds to life. Learn the essentials of designing, coding, and building games.
            </p>
          </div>
          <div class="button-group">
            <button class="div-wrapper"><button class="button-3">Choose this path!</button></button>
          </div>
        </div>
      </div>
      <footer class="footer">
        <img class="img" src="img/title.svg" />
        <div class="text-link-list">
          <div class="text-strong-wrapper">
            <div class="text-strong"><div class="text-strong-2">Use cases</div></div>
          </div>
          <div class="text-link-list-item"><div class="list-item">UI design</div></div>
          <div class="text-link-list-item"><div class="list-item">UX design</div></div>
          <div class="text-link-list-item"><div class="list-item">Wireframing</div></div>
          <div class="text-link-list-item"><div class="list-item">Diagramming</div></div>
          <div class="text-link-list-item"><div class="list-item">Brainstorming</div></div>
          <div class="text-link-list-item"><div class="list-item">Online whiteboard</div></div>
          <div class="text-link-list-item"><div class="list-item">Team collaboration</div></div>
        </div>
        <div class="text-link-list">
          <div class="text-strong-wrapper">
            <div class="text-strong"><div class="text-strong-2">Explore</div></div>
          </div>
          <div class="text-link-list-item"><div class="list-item">Design</div></div>
          <div class="text-link-list-item"><div class="list-item">Prototyping</div></div>
          <div class="text-link-list-item"><div class="list-item">Development features</div></div>
          <div class="text-link-list-item"><div class="list-item">Design systems</div></div>
          <div class="text-link-list-item"><div class="list-item">Collaboration features</div></div>
          <div class="text-link-list-item"><div class="list-item">Design process</div></div>
          <div class="text-link-list-item"><div class="list-item">FigJam</div></div>
        </div>
        <div class="text-link-list">
          <div class="text-strong-wrapper">
            <div class="text-strong"><div class="text-strong-2">Resources</div></div>
          </div>
          <div class="text-link-list-item"><div class="list-item">Blog</div></div>
          <div class="text-link-list-item"><div class="list-item">Best practices</div></div>
          <div class="text-link-list-item"><div class="list-item">Colors</div></div>
          <div class="text-link-list-item"><div class="list-item">Color wheel</div></div>
          <div class="text-link-list-item"><div class="list-item">Support</div></div>
          <div class="text-link-list-item"><div class="list-item">Developers</div></div>
          <div class="text-link-list-item"><div class="list-item">Resource library</div></div>
        </div>
      </footer>
    </div>
  </body>
</html>
